{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="head">
    <!-- <img class="img-head-home" src="{% static 'img/Travel-Wallpaper-Background.png' %}" alt="Snow Mountain">
    <h3 class="head-tag">
    </h3>
    <img class="img-head-home" src="{% static 'img/Travel-Wallpaper-Background.png' %}" alt="Snow Mountain"> -->
</div>

<!-- <h1 class="tn-cabin-title">Take a look at these amazing log cabins found in the mountains of Tennessee,
    And how can you beat these beautiful landscape which you can enjoy from windows.
    Or take a nice stroll along some mountain trails to enjoy some nice fresh air.
     </h1> -->
<div class="trip-row">
    <img class="img-head-home" src="{% static 'images/Travel-Wallpaper-Background.png' %}" alt="tennessee cabin">
    <img class="img-head-home" src="{% static 'images/Travel-Wallpaper-Background.png' %}" alt="tennessee cabin">
    <img class="img-head-home" src="{% static 'images/Travel-Wallpaper-Background.png' %}" alt="tennessee cabin">
</div>
<!-- <div class="trip-row">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnTHcjL6FvfKYU02RbaBqL6hjXbPr3Ts7yYA&usqp=CAU" alt="tennessee cabin">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-4TvIBHJ-BYXpYgAtKFAsjVbScQmlFN2amw&usqp=CAU" alt="tennessee cabin">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn1izmbn-lGDNqhaANZCvzHZbuz5KANuEImQ&usqp=CAU" alt="tennessee cabin">
</div>
<div class="trip-row">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGXfDr0FJ0OmVaAQPDHYZk7fRGMFIHPEXxTg&usqp=CAU" alt="tenessee mountains">
    <img class="img-tn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmSs5DZB7TmB4yM5LiN5qF6bUwXI2KzHC-Fg&usqp=CAU" alt="tenessee mountains">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzlEcO39ubMWUHet_4C6siQuwCcxOyf6HdIg&usqp=CAU" alt="tenessee mountains">
</div> -->
<!-- <div class="buttons">
<button class="btn">Book Trip</button>
<button class="btn">Save Trip</button>
</div> -->
<!-- 
<h1 class="tn-cabin-title">
    Come enjoy a weekend in these lovely cabins located in the mountains of california. Some beautiful
    cabins and breath taking landscape. You might also see so unique wildlife from the trails or from you cabin porch.
</h1>

<div class="tn-cabins">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkUXcjtycqXCQxFmCwnhaKnr09lCBxrOk6Lw&usqp=CAU">
    <img class="img-tn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKZ6tF3Aa5loDUb04-DogEYvtYpcGjWV58Yg&usqp=CAU">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYHmcMTlLL2XJ1uMFD0eza9C-yI0rYOpUW1Q&usqp=CAU">
 </div>

 <div class="tn-inside">
     <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Qg_MJa66WJeqTHUDATlBj73ejcYrwqs5AA&usqp=CAU">
     <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsv_NsWZ3DUNahsiOVHL2C33as_KXldhg_9Q&usqp=CAU">
     <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5NwB6yClRHeOrA_SdPw_L9BNjqNy4zcz6cA&usqp=CAU">

 </div>
 <div class="tn-mountains">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAGfu8xwMvpqnJnkZZN016kXT07d-Dj40kYQ&usqp=CAU">
    <img class="img-tn" src="	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrUAS9R8vnRMZf_ZYQK2abEVEsRgRWx_3HRQ&usqp=CAU">
    <img class="img-tn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM1m9QHeKmTpfm9lZCUaAAgvn1J8v7JaLEOQ&usqp=CAU">
 </div>

 <div class="buttons">
    <button class="btn">Book Trip</button>
    <button class="btn">Save Trip</button>
    </div>
     -->

{% endblock %}



