{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/beach">Beach Trips</a>
          </li>
          <li class="breadcrumb-item active">Rockport</li>
        </ol>
      </nav>
    </div>
  </section>
  {% include 'partials/_alerts.html' %}
  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <!-- <a href="/mountain" class="btn btn-light mb-4" >Back To Trip List</a> -->
      <div class="row">
        <div class="col-md-9">
         <!-- Main Image -->
         <img src="{% static 'images/tx_beach_main.jpg' %}" alt="" class="img-main img-fluid mb-3" style = "height:510px;">
         <!-- Thumbnails -->
         <div class="row mb-5 thumbs">
           <div class="col-md-2">
             <a href="{% static 'images/tx_scenery.jpg' %}" data-lightbox="home-images">
               <img src="{% static 'images/tx_scenery.jpg' %}" alt="" class="img-fluid">
             </a>
           </div>
           <div class="col-md-2">
             <a href="{% static 'images/tx_scenery2.jpg' %}" data-lightbox="home-images">
               <img src="{% static 'images/tx_scenery2.jpg' %}" alt="" class="img-fluid">
             </a>
           </div>
           <div class="col-md-2">
             <a href="{% static 'images/tx_scenery3.jpg' %}" data-lightbox="home-images">
               <img src="{% static 'images/tx_scenery3.jpg' %}" alt="" class="img-fluid">
             </a>
           </div>
           
           <div class="col-md-2">
             <a href="{% static 'images/tx_scenery4.jpg' %}" data-lightbox="home-images">
               <img src="{% static 'images/tx_scenery4.jpg' %}" alt="" class="img-fluid">
             </a>
           </div>
           
           <div class="col-md-2">
             <a href="{% static 'images/tx_scenery5.jpg' %}" data-lightbox="home-images">
               <img src="{% static 'images/tx_scenery5.jpg' %}" alt="" class="img-fluid">
             </a>
           </div>  
           <div class="col-md-2">
            <a href="{% static 'images/tx_scenery6.jpg' %}" data-lightbox="home-images">
              <img src="{% static 'images/tx_scenery6.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
      </div>
      
      
         
          
          

          <!-- Description -->
          <div class="row mb-5">
            <div class="col-md-12">
              Come spend the weekend or just a day in the beaches at Rockport Texas. Enjoy sun on the beach with some amazing seafood and enjoy some homemade southern cooking for supper.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          {% if user.is_authenticated %}
            <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal_book">Book Trip</button>
            <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal_save">Save Trip</button>
          {% else %}
          <p><h6 style='color:red'> Please login to book/save this trip. </h6> </p>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal_book" disabled>Book Trip</button>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal_save" disabled>Save Trip</button>
          {% endif %}
        </div>
      </div>
    </div>
 </section>

 <!-- Inquiry Modal -->
 <div class="modal fade" id="inquiryModal_book" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Booking Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="{% url 'booked' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ users.id }}">
          {% else %}
            <input type="hidden" name="user_id" value="0">
          {% endif %}
          
          <div class="form-group">
            <label for="trip_name" class="col-form-label">Trip:</label>
            <input type="text" name="trip_name" class="form-control" value="Texas Beach Trip">
            <input type="hidden" name="trip_path" value="beach_tx/">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name}} {{user.last_name}}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr>
          <input type="submit" value="Book" class="btn btn-block btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inquiryModal_save" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Save Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="{% url 'saved' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ users.id }}">
          {% else %}
            <input type="hidden" name="user_id" value="0">
          {% endif %}
          
          <div class="form-group">
            <label for="trip_name" class="col-form-label">Trip:</label>
            <input type="text" name="trip_name" class="form-control" value="Texas Beach Trip">
            <input type="hidden" name="trip_path" value="beach_tx/">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name}} {{user.last_name}}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
          </div>
         
          <hr>
          <input type="submit" value="Save" class="btn btn-block btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}







